@using SellAndBuy.Web.Models.Adds.AddModels
@model  AddDetailViewModel
@{
    ViewBag.Title = Model.Description;
}


<div class="col-lg-3">
    <img src="@Url.Content("~/Content/Upload/"+Model.ImgName)" class="img-responsive" width="200" height="200" alt="no images found">
    <h2>@Model.Description</h2>
    <h2>@Model.CreatedOn</h2>
    <h2>@Model.Price</h2>

    <div>
        <p>@Model.Phone</p>
        <p>@Model.Email</p>
        <p>@Model.UserName</p>
    </div>

</div>

