@using SellAndBuy.Web.Models.Adds
@model SearchViewModel
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>


@using (@Html.BeginForm())
{

    @Html.EditorFor(m => m.Description)


    @Html.DropDownListFor(m => m.Province, new SelectList(Model.Provinces, "Value"),
                  "Всички Области", new { @class = "form-control", @onchange = "FillCity()" })
    @Html.DropDownListFor(m => m.City, new SelectList(Model.Cities, "Value"),
                  "Всички Градове",
                  new { @class = "form-control" })

    @Html.DropDownListFor(m => m.Category, new SelectList(Model.Categories, "value"),
                    "-----Всички Категории-----  ")


    <input type="submit" value="search" />
}

<script>

    function FillCity() {
        var id = $('#Province').val();
        console.log(id);
        $.ajax({
            url: '/Add/SelectCities',
            type: "GET",
            dataType: "JSON",
            data: { id: id },
            success: function (cities) {
                $("#City").html("");
                if (id == '') {
                    $("#City").append($('<option></option>').val("").html("Всички Градове"));
                }

                $.each(cities, function (i, city) {
                    $("#City").append(
                        $('<option></option>').val(city.Name).html(city.Name));
                });
            }
        });
    }
</script>
@Scripts.Render("~/bundles/jquery")
