@using SellAndBuy.Web.Models.Adds
@model IEnumerable<AddViewModel>
@{
    ViewBag.Title = "SearchedAdds";
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-6">
            <div class="card" style="width: 250px;">
                
                <div class="card-block">
                    <div>
                        <a href="@Url.Action("LoadConcreteAdd", "Add", new { id = item.Id }, null)">
                            <img src="@Url.Content("~/Content/Upload/"+item.ImgName)" class="img-responsive" alt=@item.Id>
                        </a>
                    </div>
                    
                    <!--Title-->
                    <h5 class="card-title">Uploaded: @string.Format("{0:dd/MM/yyyy}", item.CreatedOn), Price: @item.Price</h5>
                    <!--Text-->
                    <p class="card-text">Description: @item.Description</p>                    
                   
                </div>
            </div>
        </div>
    }
</div>
