@using SellAndBuy.Web.Models.Adds.AddModels
@model IEnumerable<MyAddsViewModel>
@{
    ViewBag.Title = "LoadLastFive";
}


<div class="row">
    @if (Model.Count() > 0)
    {
        <div class="card-block">
            <h1>@Model.Count() Обяви днес в нашия сайт</h1>
        </div>
        
        foreach (var item in Model)
        {
            <div class="col-lg-3">
                <div class="card" style="width: 250px;">

                    <div class="card-block">
                        <div>
                            <a href="@Url.Action("LoadConcreteAdd", "Add", new { id = item.Id}, null)">
                                <img src="@Url.Content("~/Content/Upload/"+item.ImgName)" class="img-responsive" alt=@item.Description>
                            </a>
                        </div>

                        <h5 class="card-title">Uploaded: @string.Format("{0:dd/MM/yyyy}", item.CreatedOn), Price: @item.Price€</h5>


                        <p class="card-text">Description: @item.Description</p>

                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="card-block">
            <h3>Няма обяви за сега</h3>
        </div>

    }
</div>
